{% extends "base.twig" %}

{% block content %}

    <!-- MAIN CONTENT -->
    <div  style="position: relative;" class="section-portfolio-items masonry has-isotope layout-full portfolio-container">
            
            <div  class="menu1 portfolio-item isotope-block-item grid-4">        
                <a class="portfolio-mask" href="file:///Volumes/SAM%20JOHNSON/Sam/samjohnson/project.html" title="Project One">
                    <div class="project-meta">
                        <div class="proj-content-holder">
                            <h4>Project One</h4>
                            <div class="project-categories">
                                <span>Design</span><span>Web</span>							
                            </div>
                        </div> 
                    </div>
                <img src="portfolio/proj17-720x720.jpg" class="attachment-masonry-thumb" alt="proj17" height="720" width="720">
                </a>
                
            </div>

    			
            <div  class="menu3 portfolio-item isotope-block-item grid-4">
                
                <a class="portfolio-mask" href="http://demo.lollum.com/nantes/portfolio/portfolio/portfolio-two/" title="Project Two">

                    <div class="project-meta">
                    	<div class="proj-content-holder">
                            <h4>Project Two</h4>
                            <div class="project-categories">
                                <span>Design</span><span>Drawing</span>							
                            </div>
    				  	</div>
                    </div>
                    <img src="portfolio/proj17-720x720.jpg" class="attachment-masonry-thumb" alt="proj01" height="720" width="720">
                 </a>

            </div>

    			
            <div  class="menu1 portfolio-item isotope-block-item grid-4">
                
                <a class="portfolio-mask" href="http://demo.lollum.com/nantes/portfolio/portfolio/portfolio-three/" title="Project Three">

                    <div class="project-meta">
                    	<div class="proj-content-holder">
                            <h4>Project Three</h4>
                            <div class="project-categories">
                                <span>Design</span><span>Illustration</span>							
                            </div>
                        </div>
                    </div>

                    <img src="portfolio/proj14-720x720.jpg" class="attachment-masonry-thumb" alt="proj14" height="720" width="720">
                </a>

            </div>

        
            <div  class="menu2 portfolio-item isotope-block-item grid-4">
                
                <a class="portfolio-mask" href="http://demo.lollum.com/nantes/portfolio/portfolio/portfolio-four/" title="Project Four">

                    <div class="project-meta">
                        <div class="proj-content-holder">
                            <h4>Project Four</h4>
                            <div class="project-categories">
                                <span>Drawing</span><span>Web</span>							
                            </div>
                        </div>
                    </div>

                    <img src="portfolio/proj02-720x360.jpg" class="attachment-masonry-thumb" alt="proj02" height="360" width="720">
                </a>

            </div>

    			
            <div  class="menu3 portfolio-item isotope-block-item grid-4">
                
                <a class="portfolio-mask" href="http://demo.lollum.com/nantes/portfolio/portfolio/portfolio-six/" title="Project Six">

                    <div class="project-meta">
                       	<div class="proj-content-holder">
                            <h4>Project Six</h4>
                            <div class="project-categories">
                                <span>Drawing</span><span>Illustration</span>							
                            </div>
                        </div>
                    </div>

                    <img src="portfolio/proj16-720x720.jpg" class="attachment-masonry-thumb" alt="proj16" height="720" width="720">
                </a>

            </div>

        
            <div  class="menu3 portfolio-item isotope-block-item grid-4">
                
                <a class="portfolio-mask" href="http://demo.lollum.com/nantes/portfolio/portfolio/portfolio-eight/" title="Project Eight">

                    <div class="project-meta">
                    	<div class="proj-content-holder">
                            <h4>Project Eight</h4>
                            <div class="project-categories">
                                <span>Design</span><span>Drawing</span>							
                            </div>
                        </div>
                    </div>

                    <img src="portfolio/proj15-720x720.jpg" class="attachment-masonry-thumb" alt="proj15" height="720" width="720">
                </a>

            </div>

    		<div  class="menu1 portfolio-item isotope-block-item grid-4">

    			<a class="portfolio-mask" href="http://demo.lollum.com/nantes/portfolio/portfolio/portfolio-seven/" title="Project Seven">

    				<div class="project-meta">
                        <div class="proj-content-holder">
                            <h4>Project Seven</h4>
                            <div class="project-categories">
                                <span>Drawing</span><span>Web</span>							
                            </div>
                        </div>
    				</div>

    				<img src="portfolio/proj07-720x360.jpg" class="attachment-masonry-thumb" alt="proj07" height="360" width="720">
    			</a>

    		</div>

    	
    		<div  class="menu2 portfolio-item isotope-block-item grid-4">
    			
    			<a class="portfolio-mask" href="http://demo.lollum.com/nantes/portfolio/portfolio/portfolio-nine/" title="Project Nine">

    				<div class="project-meta">
            			<div class="proj-content-holder">
                            <h4>Project Nine</h4>
                            <div class="project-categories">
                                <span>Design</span><span>Illustration</span>							
                            </div>
                        </div>
    				</div>

    				<img src="portfolio/proj13-720x720.jpg" class="attachment-masonry-thumb" alt="proj13" height="720" width="720">
    			</a>

    		</div>

    	
    		<div  class="menu3 portfolio-item isotope-block-item grid-4">
    			
    			<a class="portfolio-mask" href="http://demo.lollum.com/nantes/portfolio/portfolio/portfolio-ten/" title="Project Ten">
    				<div class="project-meta">
                        <div class="proj-content-holder">
                            <h4>Project Ten</h4>
                            <div class="project-categories">
                                <span>Drawing</span><span>Web</span>							
                            </div>
                        </div>
    				</div>
    				<img src="portfolio/proj03-720x360.jpg" class="attachment-masonry-thumb wp-post-image" alt="proj03" height="360" width="720">
    			</a>

    		</div>
            
            <div  class="menu2 portfolio-item isotope-block-item grid-4">
                    
                    <a class="portfolio-mask" href="http://demo.lollum.com/nantes/portfolio/portfolio/portfolio-ten/" title="Project Ten">
                        <div class="project-meta">
                            <div class="proj-content-holder">
                                <h4>Project Ten</h4>
                                <div class="project-categories">
                                    <span>Drawing</span><span>Web</span>							
                                </div>
                            </div>
                        </div>
                        <img src="portfolio/proj03-720x360.jpg" class="attachment-masonry-thumb" alt="proj03" height="360" width="720">  
                    </a>

            </div>

            <div class="menu1 portfolio-item isotope-block-item grid-4">
                
                <a class="portfolio-mask" href="http://demo.lollum.com/nantes/portfolio/portfolio/portfolio-five/" title="Project Five">

                    <div class="project-meta">
                        <div class="proj-content-holder">
                            <h4>Project Five</h4>
                            <div class="project-categories">
                                <span>Illustration</span><span>Web</span>                           
                            </div>
                        </div>
                    </div>

                    <img src="portfolio/proj08-720x360.jpg" class="attachment-masonry-thumb" alt="proj08" height="360" width="720">
                </a>

            </div>

            <div  class="menu1 portfolio-item isotope-block-item grid-4">        
                <a class="portfolio-mask" href="file:///Volumes/SAM%20JOHNSON/Sam/samjohnson/project.html" title="Project One">
                <div class="project-meta">
                    <div class="proj-content-holder">
                        <h4>Project One</h4>
                        <div class="project-categories">
                            <span>Design</span><span>Web</span>                         
                        </div>
                    </div> 
                </div>
                <img src="portfolio/proj17-720x720.jpg" class="attachment-masonry-thumb" alt="proj17" height="720" width="720">
                </a>
        
            </div>

            <div  class="menu1 portfolio-item isotope-block-item grid-4">
        
                <a class="portfolio-mask" href="http://demo.lollum.com/nantes/portfolio/portfolio/portfolio-three/" title="Project Three">

                    <div class="project-meta">
                        <div class="proj-content-holder">
                            <h4>Project Three</h4>
                            <div class="project-categories">
                                <span>Design</span><span>Illustration</span>                            
                            </div>
                        </div>
                    </div>

                    <img src="portfolio/proj14-720x720.jpg" class="attachment-masonry-thumb" alt="proj14" height="720" width="720">
                </a>

            </div>

            <div  class="menu1 portfolio-item isotope-block-item grid-4">        
                <a class="portfolio-mask" href="file:///Volumes/SAM%20JOHNSON/Sam/samjohnson/project.html" title="Project One">
                <div class="project-meta">
                    <div class="proj-content-holder">
                        <h4>Project One</h4>
                        <div class="project-categories">
                            <span>Design</span><span>Web</span>                         
                        </div>
                    </div> 
                </div>
                <img src="portfolio/proj17-720x720.jpg" class="attachment-masonry-thumb" alt="proj17" height="720" width="720">
                </a>
        
            </div>

            <div  class="menu2 portfolio-item isotope-block-item grid-4">
        
                <a class="portfolio-mask" href="http://demo.lollum.com/nantes/portfolio/portfolio/portfolio-four/" title="Project Four">

                    <div class="project-meta">
                        <div class="proj-content-holder">
                            <h4>Project Four</h4>
                            <div class="project-categories">
                                <span>Drawing</span><span>Web</span>                            
                            </div>
                        </div>
                    </div>

                    <img src="portfolio/proj02-720x360.jpg" class="attachment-masonry-thumb" alt="proj02" height="360" width="720">
                </a>

            </div>

                <!-- Footer -->
    <div class="footer-container">
        <div class="col3-set">
           <a href="#" class="btn-close-bag footer-close" id="close-Bottom">
            <span class="bottom-close-icon" ></span>
           </a>  
            <div class="footer-container2">

            <div class="slidepageCont" id="contactDetails">
                <div id="topCartContent" class="block-content">

                        <p class="block-subtitle">
                            Contact 
                        </p>              
                        <div class="inner-wrapper">
                                 <p class="cart-empty">
                                    You can contact below .                           
                                </p>
                        </div>                       
                </div>
            </div>
            
             <div class="contactFm">
                <p class="block-subtitle" id="contFmHeader" >Send Me a Message </p> 
                  <form>
                    <div class="field half">
                      <label for="surname">Full Name</label>
                      <input type="text" id="surname"/>
                    </div>
                    <div class="field half last">
                      <label for="name">Email address</label>
                      <input type="text" id="name"/>
                    </div>
                    <div class="field tnb">
                      <label for="email">Message</label>
                      <input type="email" id="email"/>
                    </div>
                    <div class="field final">
                      <input type="submit" id="submit" value="SEND MESSAGE"/>
                    </div>
                  </form>
            </div>
            
    </div>
        </div>
    </div>
    <!-- End Footer -->
			
		</div>

		
	</div>
</div>
</div>
   



							<!-- END portfolio-row -->
						</div>
					</div>      
				</div>
            </div>
        </div>
    </div>




	</div>
    
    <!-- Footer -->
 <!--    <div class="footer-container">
        <div class="col3-set">
		   <a href="#" class="btn-close-bag" id="close-Bottom">
            <span class="bottom-close-icon" ></span>
           </a>  
			<div class="footer-container2">

            <div class="slidepageCont" id="contactDetails">
				<div id="topCartContent" class="block-content"> -->

	<!-- 				<p class="block-subtitle">
					  Contact </p>				
						<div class="inner-wrapper">
								 <p class="cart-empty">
									You can contact below .                           
								</p>
						</div>
						
				</div>
            </div>
            
             <div class="contactFm">
            	<p class="block-subtitle" id="contFmHeader" >Send Me a Message </p>	
                  <form>
                    <div class="field half">
                      <label for="surname">Full Name</label>
                      <input type="text" id="surname"/>
                    </div>
                    <div class="field half last">
                      <label for="name">Email address</label>
                      <input type="text" id="name"/>
                    </div>
                    <div class="field tnb">
                      <label for="email">Message</label>
                      <input type="email" id="email"/>
                    </div>
                    <div class="field final">
                      <input type="submit" id="submit" value="SEND MESSAGE"/>
                    </div>
                  </form>
            </div>
            
    </div>
        </div>
    </div> -->
    <!-- End Footer -->

</div>

<!-- Left Slide Section -->
<div id="left-section" class="left-container">

<div class="slidepageHolder">
            <div class="slidepageCont">
		<a href="#" class="btn-close-bag" id="close-left"><span class="left-close-icon"></span></a>
          <div id="topCartContent" class="block-content">
				<script>
				
				
	
				</script>
				<p class="block-subtitle">
                   About </p>				
                    <div class="inner-wrapper">
                             <p class="cart-empty">
                                A Web Developer who is based in London.                           
							</p>
                    </div>
					
					                </div>
                    </div>
    </div>  
	</div>
<!-- End Left Slide Section -->



<!-- Right Slide Section -->
<div id="cart-right" class="cart-container">

<div class="slidepageHolder">  
            <div class="slidepageCont">
				<a href="#" class="btn-close-bag" id="close-cart"><span class="right-close-icon" ></span></a>
	          	<div id="topCartContent" class="block-content">

				    <p class="block-subtitle"> Skills </p>				
	                <div class="inner-wrapper">
	                	<p class="cart-empty">
	                    	This is My Experience Slide 
	                    </p>
	                </div>	

				</div>
            </div>
    </div>
	</div>
<!--- End Right Slide Section -->
	
<!-- Mobile Navigation -->
    <div id="nav-left" style="display: none;" class="mob-nav-container">
			<ul id="nav-mob" class="default">
				<li class="level0">
                	<a href="#" id="open-left" class="">
                    	<button  data-icon="&#xe057;" class="btn icon mobnav-txt">
                        	<span>About</span>
                        </button>
                     </a>
                </li>	
                <li class="level0">
                	<a href="#" id="open-cart" class="">
                    	<button data-icon="&#xe05c;" class="btn icon mobnav-txt">
                        	<span>Skills</span>
                        </button>
                    </a>
                </li>	
                <li class="level0">
                	<a href="#" id="open-bottom" class="">
                    	<button  data-icon="&#xe039;"  class="btn icon mobnav-txt">
                        	<span>Contact</span>
                        </button>
                    </a>
                </li>
			</ul>
	</div>
<!-- End Mobile Navigation --> 
 
<div id="clearer"></div>

{# 	<div class="container">
		<div class="row">
			{% include 'loops/page.twig' %}
			
		</div>
	</div> #}

{% endblock %}
