!.gitignore
.DS_Store
.ftpquota
.htaccess
wp-config.php
wp-content/uploads/
content/uploads/
wp-content/upgrade/
content/upgrade/
wp-content/backup-db/
content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/w3tc-config/
content/w3tc-config/
wp-content/backups/
content/backups/
sitemap.xml
sitemap.xml.gz
error_log
node_modules/
bower_components/
.user.ini
npm-debug.log
/db-exports
.env
/wp-content/languages
/content/languages
